@charset "UTF-8";

/* common */
.evt_wrap{display:block !important;background-color:#eee;}
.evt_section{position:relative;max-width:none;margin:0 auto;overflow:hidden;clear: both;}
.evt_section img{;max-width:none}
.evt_section .btn{background:url(//cloud-image.cjmall.net/public/confirm/contents/design/promotion/common/bg_trans.png) 0 0 no-repeat;cursor:pointer}

header
.header{display: block;margin: 5px 0;padding: 10px 5px;font-size: 16px;background: #fff;}
.req li{fon}

.evt_wrap strong, .test6 label{display:block;margin:5px 0;padding:10px 5px;font-size:16px; background:#fff;}
.img_wrap{height:200px;overflow-x:scroll}

.test01 .img_wrap img, .test6 .img_wrap img{width:auto;height:100%;max-width:none}

.test03 .img_wrap img{height:100%}
.test03 .img_wrap{margin-left:-2px}
.test03 .swiper-slide{overflow:scroll}

.test4 label{display:none}
.test4 input{width:100%;}

.test6 input{width:100%;}
.test6 .img_wrap{position:relative;}
.test6 .img_wrap img{display:block;position:absolute;top:0;left:0;}